/* Shared styling */
* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border: none;
    padding: 15px 32.25px;
}

.title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 18px;
    text-align: center;

}

.description {
    text-align: center;
    padding-top: 18px;
    color: rgba(39, 39, 39, 0.60);

}

/* Header related styles */
.head {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    padding: 0px 180px;
    padding-top: 20px;
    align-items: center;

}

.head-img {
    width: 472px;
}

.head-title {
    font-size: 60px;
    font-weight: 800;
    width: 585px;
    padding-bottom: 24px;
}

.head-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13.5px;
    line-height: 22.5px;
    width: 475px;
    padding-bottom: 24px;
}
/* Features section related styles */
.products {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 0px 180px;

}

.feature-title {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 18px;
    padding-top: 187px;
}

.feature-description {
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 36px;

}

.pink {
    width: 278px;
    height: 322px;
}


.one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.product-description {
    text-align: center;
    padding-top: 24px;
    text-decoration: underline;
    padding-bottom: 94px;
}

.pink-flower {
    width: 185px;
    padding: 65px 45px 0px;

}

.red-flower {
    width: 221px;
    padding: 69px 28px 28px 30px;
}

.yellow-flower {
    width: 188px;
    padding: 45px 40px 0px;
}
/* support related styles */

.support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 96px 180px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.service-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon-two,
.service-icon-one {
    margin-left: 50px;
}
/* Bonus section related style */


.catagories{
    display: flex;
    gap:22px;
    margin:20px 180px 36px;
}
.flower-product img{
    width:278px;
    height:270px;
}
/* discount section related style */

.offer {
    display: flex;
    align-items: center;
    gap: 140px;
    margin: 0px 250px;
    text-align: center;
}


.offer-description {
    padding-bottom: 32px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

}

.discount {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.wing-eight {
    width: 318px;
    padding-top: 75px;
    padding-bottom: 75px;
}
/* card section related style */
.instagram-title {
    padding-top: 96px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 31px;
}

.card {
    display: flex;
    margin-bottom: 90px;
    gap: 18px;
    text-align: center;
    padding: 0px 180px;
}

.card img {
    width: 210px;
}
/* cupon code related section */

.subscribe {
    background-image: url(../Asset/Rectangle\ 9.png );
    text-align: center;
    margin: 0px 180px;
    padding: 90px 0px;

}

.subscribe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 18px;
}

.email {
    padding: 17px;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-right: 12px;
}
/* Footer section */
.footer {
    background-color: black;
    color: white;
}

.footer-title {
    color: white;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding-top: 96px;
}

.red {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 96px;
}


